<div class="allHeight flexPlacement">
    <app-header></app-header>
    <div class="main-content">
        <h1>Olympic games app</h1>
        <h2 class="graph-title">Medals per Country</h2>
        <div class="stats-container">
            <div class="graph-indicator">
                <p>Number of JOs<br />{{ numberOfGames }}</p>
            </div>
            <div class="graph-indicator">
                <p>Number of countries<br />{{ numberOfCountries }}</p>
            </div>
        </div>
        <app-pie-chart></app-pie-chart>
    </div>
    <app-footer></app-footer>
</div>
