<div *ngIf="countryData" class="country-data-container">
    <h2 class="graph-title">{{ countryData.country }}</h2>
    <div class="indicator-container">
        <p class="graph-indicator">
            Number of entries<br /><span>{{ countryData.participations.length }}</span>
        </p>
        <p class="graph-indicator">
            Total number medals<br /><span>{{ getTotalMedals() }}</span>
        </p>
        <p class="graph-indicator">
            Total number of athletes<br /><span>{{ getTotalAthletes() }}</span>
        </p>
    </div>
    <div class="chart-container">
        <ngx-charts-line-chart [view]="view" [scheme]="'vivid'" [results]="medalData" [xAxis]="true" [yAxis]="true" [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="false" [xAxisLabel]="'Dates'" [yAxisLabel]="'Medals'" [autoScale]="true"> </ngx-charts-line-chart>
    </div>
</div>
