.country-data-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 425px) {
    .indicator-container {
        flex-direction: column;
    }
}
