@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

* {
    font-family: "Roboto", "Times New Roman", Arial, Verdana, sans-serif;
    font-weight: 500;
}

body {
    margin: 0;
}
